@import "./_variables";

.coming-soon {
  color: $color-white;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 70vh;
    padding: 0 $spacing-base;
    text-align: center;

    h1 {
      font-size: $font-size-5xl;
      font-weight: 900 !important;
      margin-bottom: $spacing-base;
      font-family: $font-family-primary;

      @media (min-width: $breakpoint-tablet) {
        margin-bottom: $spacing-lg;
        font-size: $font-size-4xl;
      }
    }

    p {
      font-size: $font-size-lg;
      color: $color-gray-300;
      max-width: 35rem;
      margin-bottom: $spacing-lg;
      font-weight: 400;
      font-family: $font-family-primary;

      @media (min-width: $breakpoint-tablet) {
        margin-bottom: $spacing-2xl;
        font-size: $font-size-2xl;
      }
    }

    .subscribe-form {
      width: 100%;
      max-width: 25rem;
      position: relative;

      input {
        width: 100%;
        color: $color-gray-500;
        font-weight: 100;
        font-size: $font-size-xl;
        border-radius: 0.625rem;
        padding: $spacing-base $spacing-md;
        background-color: $color-dark-bg;
        border: 1px solid transparent;
        transition: border-color 0.3s;
        font-family: $font-family-primary;

        &:focus {
          outline: none;
          color: $color-white;
        }
      }

      button {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        padding: 0.6rem 0.7rem;
        border: none;
        border-radius: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #d9d9d9;

        &:hover {
          opacity: 0.9;
        }

        img {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }

    @media (min-width: 768px) {
      min-height: 82.5vh;
      justify-content: center;
    }
  }
}
